In [14]:
import pandas as pd
import requests
from collections import OrderedDict
import numpy as np
from bs4 import BeautifulSoup
import urllib2
from datetime import datetime as dt

In [217]:
update_df=pd.read_csv('./update_list.csv')
update_df.company_code[7]

6758

In [218]:
company_code=str(update_df.company_code[7])

url_timeline = 'https://kabutan.jp/stock/kabuka?code='+company_code
url_timeline2 = 'https://kabutan.jp/stock/kabuka?code='+company_code+'&ashi=day&page=3'
url_result='https://kabutan.jp/stock/finance?code='+company_code
up_url='https://kabutan.jp/warning/?mode=2_1&market=1'
down_url='https://kabutan.jp/warning/?mode=2_2&market=1'
sss='https://kabutan.jp/tansaku/?mode=1_f_T-y_Max-eki%26z-eki_Best100'

株価時系列と周辺情報について

In [219]:
html = urllib2.urlopen(url_result)
soup = BeautifulSoup(html)

In [220]:
#company name
company_name_list=soup.find('h1').string.split("(")
company_name=company_name_list[0]

In [221]:
#industry
try:
    company_industry=soup.find_all("a",href="/themes/")[0].string
except:
    company_industry=None

In [222]:
#warning share brands
datasets_up = pd.io.html.read_html(up_url)
warning_df=datasets_up[2]

In [223]:
datasets_n = pd.io.html.read_html(url_timeline)
df_time_line=datasets_n[5]

In [224]:
datasets_n2 = pd.io.html.read_html(url_timeline2)
df_today=datasets_n2[4]
price_df=datasets_n2[5]
df_today.columns=['date','start','highest','lowest','end','diff','diff_percentage','trade_volume']
price_df.columns=['date','start','highest','lowest','end','diff','diff_percentage','trade_volume']

In [225]:
i = 1
last_date = dt.now()
start_date=dt(2018,12,17)
j=0
while (last_date-start_date).days > 0:
    new_url='https://kabutan.jp/stock/kabuka?code='+company_code+'&ashi=day&page='+str(i)
    datasets_timeline=pd.io.html.read_html(new_url)
    dataset_timeline=datasets_timeline[5]
    date_length=len(dataset_timeline)
    dataset_timeline.columns=['date','start','highest','lowest','end','diff','diff_percentage','trade_volume']
    #print(date_length)
    last_date=dt.strptime(dataset_timeline.date[date_length-1],'%y/%m/%d')
    if i ==1:
        existing_timeline=dataset_timeline.copy()
    elif i > 1:
        existing_timeline=pd.concat([existing_timeline,dataset_timeline],axis=0)
    i = i+1

existing_timeline=existing_timeline.reset_index(drop=True)
    
for j in range(0,len(existing_timeline)):
    #print(j)
    if (dt.strptime(existing_timeline.date[len(existing_timeline)-j-1],'%y/%m/%d')-start_date).days > 0:
        stop_j=j
        break

existing_timeline=existing_timeline.loc[0:len(existing_timeline)-stop_j]

In [226]:
price_df['company_code']=company_code
price_df['company_name']=company_name
price_df['company_industry']=company_industry

df_today['company_code']=company_code
df_today['company_name']=company_name
df_today['company_industry']=company_industry

existing_timeline['company_code']=company_code
existing_timeline['company_name']=company_name
existing_timeline['company_industry']=company_industry

In [227]:
df_today

,date,start,highest,lowest,end,diff,diff_percentage,trade_volume,company_code,company_name,company_industry
0,19/05/10,5395,5505,5351,5408,78,1.5,9821200,6758,ソニー,None

In [228]:
collect_dfs=pd.io.html.read_html(up_url)
collect_df=collect_dfs[2]

In [246]:
column_name=list(collect_df.columns)

column_name[0]='company_code'
column_name[1]='company_name'
collect_df.columns=column_name
collect_df=collect_df.loc[:,['company_code','company_name']]

In [254]:
new_collect=pd.DataFrame(columns=['company_code','last_financial','last_share_price'])
new_collect["company_code"]=collect_df["company_code"].astype('object')
new_collect["last_financial"]=None
new_collect["last_share_price"]=None

update_df2=pd.concat([update_df,new_collect],axis=0)
update_df2=update_df2[~update_df2.duplicated(subset='company_code',keep='first')]
update_df2=update_df2.reset_index(drop=True)
update_df2

    company_code last_financial last_share_price
0           7203           2018         19/05/09
1           9984            NaN              NaN
2           9432            NaN              NaN
3           6861            NaN              NaN
4           9437            NaN              NaN
5           8306           2018         19/05/09
6           9983            NaN              NaN
7           6758           2018         19/05/09
8           9434            NaN              NaN
9           4502            NaN              NaN
10          9433           2018         19/05/09
11          6098            NaN              NaN
12          6178            NaN              NaN
13          7182            NaN              NaN
14          8316            NaN              NaN
15          7267            NaN              NaN
16          2914            NaN              NaN
17          7974            NaN              NaN
18          9022            NaN              NaN
19          8058            NaN              NaN
20          4661            NaN              NaN
21          6594            NaN              NaN
22          8411            NaN              NaN
23          4452            NaN              NaN
24          7751            NaN              NaN
25          4063            NaN              NaN
26          6367            NaN              NaN
27          4519            NaN              NaN
28          4568            NaN              NaN
29          6954            NaN              NaN
..           ...            ...              ...
85          1605            NaN              NaN
86          7309            NaN              NaN
87          2587            NaN              NaN
88          8028            NaN              NaN
89          3659            NaN              NaN
90          2413            NaN              NaN
91          8604            NaN              NaN
92          4307            NaN              NaN
93          4612            NaN              NaN
94          9202            NaN              NaN
95          4324            NaN              NaN
96          9201            NaN              NaN
97          2269            NaN              NaN
98          7181            NaN              NaN
99          8002            NaN              NaN
100         7820           None             None
101         3686           None             None
102         3784           None             None
103         6059           None             None
104         8056           None             None
105         9749           None             None
106         8282           None             None
107         6855           None             None
108         6569           None             None
109         8871           None             None
110         6306           None             None
111         2733           None             None
112         7943           None             None
113         6099           None             None
114         4346           None             None

[115 rows x 3 columns]

# 決算情報について

In [230]:

basic_url='http://www.ullet.com/'+company_code+'.html'

In [231]:
#Basic info
datasets_basic = pd.io.html.read_html(basic_url)
df_asset=datasets_basic[4]
df_profit=datasets_basic[6]
df_cf=datasets_basic[8]
df_roa=datasets_basic[10]
df_employee=datasets_basic[17]

In [232]:
finance_columns_list=[]
for i in range(len(df_asset.columns)-1):
    finance_columns_list.append(df_asset.columns[i+1].encode('utf-8')[:4])

In [233]:
list_columns=['category']
#list_columns=list_columns.extend(finance_columns_list)
list_columns = list_columns + finance_columns_list
list_columns

['category', '2014', '2015', '2016', '2017', '2018']

In [234]:

'''
df_asset.columns=['category','end_mar_2014','end_mar_2015','end_mar_2016','end_mar_2017','end_mar_2018']
df_profit.columns=['category','end_mar_2014','end_mar_2015','end_mar_2016','end_mar_2017','end_mar_2018']
df_cf.columns=['category','end_mar_2014','end_mar_2015','end_mar_2016','end_mar_2017','end_mar_2018']
df_roa.columns=['category','end_mar_2014','end_mar_2015','end_mar_2016','end_mar_2017','end_mar_2018']
df_employee.columns=['category','end_mar_2014','end_mar_2015','end_mar_2016','end_mar_2017','end_mar_2018']
'''


df_asset.columns=list_columns
df_profit.columns=list_columns
df_cf.columns=list_columns
df_roa.columns=list_columns
df_employee.columns=list_columns

df_roa.category=['Cash','Revenue','Net_income','Operating_Cash_flow','ROA']
df_employee.category=['Employees_independent','Employees_group','Age','Working_length','Salary_independent']
#df_employee.category=['Employees_independent','Employees_group','Age','Working_length','Salary_independent']
df_cf.category=['Operating_Cash_flow','Investing_Cash_flow','Financial_Cash_flow','Modification','Change_cash']
df_profit.category=['Sales','Total_Sales','Cost_of_Sales','Other_Cost','Total_Cost','Gross_Profit','Income_before_taxes','NULL','Net_income']
df_asset.category=['Cash','Other_Current_Assets','Property_equipment','Intangible_Assets','Investments','Net_Assets','Current_Liability','NonCurrent_Liability','Net_equithy','Net_Assets']

#df_roa

In [235]:
nin = u"\u4eba"
nenrei=u"\u6b73"
nen=u"\u5e74"
manen=u"\u4e07\u5186"

df_employee.loc[0]=df_employee.loc[0].str.replace(nin,'')
df_employee.loc[0]=df_employee.loc[0].str.replace(',','')
df_employee.loc[1]=df_employee.loc[1].str.replace(nin,'')
df_employee.loc[1]=df_employee.loc[1].str.replace(',','')
df_employee.loc[2]=df_employee.loc[2].str.replace(nenrei,'')
df_employee.loc[3]=df_employee.loc[3].str.replace(nen,'')
df_employee.loc[4]=df_employee.loc[4].str.replace(manen,'')
df_roa.loc[4]=df_roa.loc[4].str.replace('%','')

In [236]:
df_all=pd.concat([df_asset,df_profit.loc[df_profit.category!='NULL']],axis=0)
df_all=pd.concat([df_all,df_cf],axis=0)
df_all=pd.concat([df_all,df_roa],axis=0)
df_all=pd.concat([df_all,df_employee],axis=0)
df_all2=df_all.reset_index(drop=True)
df_all2=df_all2[~df_all2.duplicated(subset='category',keep='last')]
df_all2

                 category      2014      2015      2016      2017      2018
1    Other_Current_Assets   3158420   3248488   3213115   3395580   3589767
2      Property_equipment    750010    739285    820818    758199    739470
3       Intangible_Assets   1367466   1203616   1222044   1106723   1057660
4             Investments   9011358   9693529  10433801  11439912  12092312
6       Current_Liability  11629816  12188527  12984897  13831614  14785720
7    NonCurrent_Liability    916648    712087    556605    681462    623451
8             Net_equithy   2787256   2933717   3131888   3147480   3656367
9              Net_Assets  15333720  15834331  16673390  17660556  19065538
10                  Sales   7767266   8215880   8105712   7603250   8543982
11            Total_Sales   7767266   8215880   8105712   7603250   8543982
12          Cost_of_Sales   5140053   5275144   5166894   4753010   5771904
13             Other_Cost   2755582   3066716   2791027   2776951   2281284
14             Total_Cost   7895635   8341860   7957921   7529961   8053188
15           Gross_Profit   2627213   2940736   2938818   2850240   2772078
16    Income_before_taxes     25741     39729    304504    251619    699049
19    Investing_Cash_flow   -710502   -639636  -1030403  -1253973   -822197
20    Financial_Cash_flow    207877   -263195    380122    452302    246456
21           Modification         0         0         0         0         0
22            Change_cash    161491   -148191     98808      7591    679231
23                   Cash   1046466    949413    983612    960142   1586329
24                Revenue   7767266   8215880   8105712   7603250   8543982
25             Net_income   -128369   -125980    147791     73289    490794
26    Operating_Cash_flow    664116    754640    749089    809262   1254972
27                    ROA     -0.84     -0.80      0.89      0.41      2.57
28  Employees_independent     14642     12286     10511      6185      2428
29        Employees_group    140900    131700    125300    128400    117300
30                    Age      42.5      43.2      43.4      43.1      42.3
31         Working_length      17.9      18.5      18.5        18      16.7
32     Salary_independent       885       859       935       910      1013

In [237]:
df_all3=pd.melt(df_all2, 'category', var_name='term')
df_all3

                  category  term     value
0     Other_Current_Assets  2014   3158420
1       Property_equipment  2014    750010
2        Intangible_Assets  2014   1367466
3              Investments  2014   9011358
4        Current_Liability  2014  11629816
5     NonCurrent_Liability  2014    916648
6              Net_equithy  2014   2787256
7               Net_Assets  2014  15333720
8                    Sales  2014   7767266
9              Total_Sales  2014   7767266
10           Cost_of_Sales  2014   5140053
11              Other_Cost  2014   2755582
12              Total_Cost  2014   7895635
13            Gross_Profit  2014   2627213
14     Income_before_taxes  2014     25741
15     Investing_Cash_flow  2014   -710502
16     Financial_Cash_flow  2014    207877
17            Modification  2014         0
18             Change_cash  2014    161491
19                    Cash  2014   1046466
20                 Revenue  2014   7767266
21              Net_income  2014   -128369
22     Operating_Cash_flow  2014    664116
23                     ROA  2014     -0.84
24   Employees_independent  2014     14642
25         Employees_group  2014    140900
26                     Age  2014      42.5
27          Working_length  2014      17.9
28      Salary_independent  2014       885
29    Other_Current_Assets  2015   3248488
..                     ...   ...       ...
115     Salary_independent  2017       910
116   Other_Current_Assets  2018   3589767
117     Property_equipment  2018    739470
118      Intangible_Assets  2018   1057660
119            Investments  2018  12092312
120      Current_Liability  2018  14785720
121   NonCurrent_Liability  2018    623451
122            Net_equithy  2018   3656367
123             Net_Assets  2018  19065538
124                  Sales  2018   8543982
125            Total_Sales  2018   8543982
126          Cost_of_Sales  2018   5771904
127             Other_Cost  2018   2281284
128             Total_Cost  2018   8053188
129           Gross_Profit  2018   2772078
130    Income_before_taxes  2018    699049
131    Investing_Cash_flow  2018   -822197
132    Financial_Cash_flow  2018    246456
133           Modification  2018         0
134            Change_cash  2018    679231
135                   Cash  2018   1586329
136                Revenue  2018   8543982
137             Net_income  2018    490794
138    Operating_Cash_flow  2018   1254972
139                    ROA  2018      2.57
140  Employees_independent  2018      2428
141        Employees_group  2018    117300
142                    Age  2018      42.3
143         Working_length  2018      16.7
144     Salary_independent  2018      1013

[145 rows x 3 columns]

In [238]:
df_all3["Company_code"]=company_code

In [239]:
df_all3

                  category  term     value Company_code
0     Other_Current_Assets  2014   3158420         6758
1       Property_equipment  2014    750010         6758
2        Intangible_Assets  2014   1367466         6758
3              Investments  2014   9011358         6758
4        Current_Liability  2014  11629816         6758
5     NonCurrent_Liability  2014    916648         6758
6              Net_equithy  2014   2787256         6758
7               Net_Assets  2014  15333720         6758
8                    Sales  2014   7767266         6758
9              Total_Sales  2014   7767266         6758
10           Cost_of_Sales  2014   5140053         6758
11              Other_Cost  2014   2755582         6758
12              Total_Cost  2014   7895635         6758
13            Gross_Profit  2014   2627213         6758
14     Income_before_taxes  2014     25741         6758
15     Investing_Cash_flow  2014   -710502         6758
16     Financial_Cash_flow  2014    207877         6758
17            Modification  2014         0         6758
18             Change_cash  2014    161491         6758
19                    Cash  2014   1046466         6758
20                 Revenue  2014   7767266         6758
21              Net_income  2014   -128369         6758
22     Operating_Cash_flow  2014    664116         6758
23                     ROA  2014     -0.84         6758
24   Employees_independent  2014     14642         6758
25         Employees_group  2014    140900         6758
26                     Age  2014      42.5         6758
27          Working_length  2014      17.9         6758
28      Salary_independent  2014       885         6758
29    Other_Current_Assets  2015   3248488         6758
..                     ...   ...       ...          ...
115     Salary_independent  2017       910         6758
116   Other_Current_Assets  2018   3589767         6758
117     Property_equipment  2018    739470         6758
118      Intangible_Assets  2018   1057660         6758
119            Investments  2018  12092312         6758
120      Current_Liability  2018  14785720         6758
121   NonCurrent_Liability  2018    623451         6758
122            Net_equithy  2018   3656367         6758
123             Net_Assets  2018  19065538         6758
124                  Sales  2018   8543982         6758
125            Total_Sales  2018   8543982         6758
126          Cost_of_Sales  2018   5771904         6758
127             Other_Cost  2018   2281284         6758
128             Total_Cost  2018   8053188         6758
129           Gross_Profit  2018   2772078         6758
130    Income_before_taxes  2018    699049         6758
131    Investing_Cash_flow  2018   -822197         6758
132    Financial_Cash_flow  2018    246456         6758
133           Modification  2018         0         6758
134            Change_cash  2018    679231         6758
135                   Cash  2018   1586329         6758
136                Revenue  2018   8543982         6758
137             Net_income  2018    490794         6758
138    Operating_Cash_flow  2018   1254972         6758
139                    ROA  2018      2.57         6758
140  Employees_independent  2018      2428         6758
141        Employees_group  2018    117300         6758
142                    Age  2018      42.3         6758
143         Working_length  2018      16.7         6758
144     Salary_independent  2018      1013         6758

[145 rows x 4 columns]

In [240]:
#update_df.loc[update_df.company_code==int(company_code)]=[company_code,list_columns[len(list_columns)-1],existing_timeline.date[0]]
update_df2.loc[update_df.company_code==int(company_code),'last_financial']=list_columns[len(list_columns)-1]
update_df2.loc[update_df.company_code==int(company_code),'last_share_price']=existing_timeline.date[0]

In [241]:
update_df2

    company_code last_financial last_share_price
0           7203           2018         19/05/09
1           9984            NaN              NaN
2           9432            NaN              NaN
3           6861            NaN              NaN
4           9437            NaN              NaN
5           8306           2018         19/05/09
6           9983            NaN              NaN
7           6758           2018         19/05/09
8           9434            NaN              NaN
9           4502            NaN              NaN
10          9433           2018         19/05/09
11          6098            NaN              NaN
12          6178            NaN              NaN
13          7182            NaN              NaN
14          8316            NaN              NaN
15          7267            NaN              NaN
16          2914            NaN              NaN
17          7974            NaN              NaN
18          9022            NaN              NaN
19          8058            NaN              NaN
20          4661            NaN              NaN
21          6594            NaN              NaN
22          8411            NaN              NaN
23          4452            NaN              NaN
24          7751            NaN              NaN
25          4063            NaN              NaN
26          6367            NaN              NaN
27          4519            NaN              NaN
28          4568            NaN              NaN
29          6954            NaN              NaN
..           ...            ...              ...
70          5401            NaN              NaN
71          5020            NaN              NaN
72          7733            NaN              NaN
73          4689            NaN              NaN
74          9613            NaN              NaN
75          8267            NaN              NaN
76          4755            NaN              NaN
77          9021            NaN              NaN
78          8630            NaN              NaN
79          3407            NaN              NaN
80          7011            NaN              NaN
81          6702            NaN              NaN
82          6869            NaN              NaN
83          9843            NaN              NaN
84          8309            NaN              NaN
85          1605            NaN              NaN
86          7309            NaN              NaN
87          2587            NaN              NaN
88          8028            NaN              NaN
89          3659            NaN              NaN
90          2413            NaN              NaN
91          8604            NaN              NaN
92          4307            NaN              NaN
93          4612            NaN              NaN
94          9202            NaN              NaN
95          4324            NaN              NaN
96          9201            NaN              NaN
97          2269            NaN              NaN
98          7181            NaN              NaN
99          8002            NaN              NaN

[100 rows x 3 columns]

In [242]:
update_df2.to_csv('./update_list.csv',index=False)